<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>

        <h1>{{message}}</h1>
        <h1>{{sum}}</h1>
        <h1>{{subtract}}</h1>
        <h1>{{multiply}}</h1>
        <h1>{{divide}}</h1>
        <h1>{{remainder}}</h1>

    </body>
</html>